[submodule "Source/OAuth2"]
	path = Source/OAuth2
	url = git@github.com:HothouseLabs/google-api-objectivec-client-read-only.git
[submodule "Source/HTTPFetcher"]
	path = Source/HTTPFetcher
	url = git@github.com:SoftwareMarbles/gtm-http-fetcher-Source.git
[submodule "Source/JSON"]
	path = Source/JSON
	url = git@github.com:SoftwareMarbles/json-framework-v2.3.2-Classes.git
