[submodule "Source/OAuth2"]
	path = Source/OAuth2
	url = https://github.com/svn2github/gtm-oauth2-Source.git
[submodule "Source/HTTPFetcher"]
	path = Source/HTTPFetcher
	url = git@github.com:HothouseLabs/gtm-http-fetcher-Source.git
[submodule "Source/JSON"]
	path = Source/JSON
	url = git@github.com:HothouseLabs/json-framework-v2.3.2-Classes.git
